a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  /* color: black; */
}

.recipeCard {
  margin: 10px;
}

.card-img-overlay {
  padding: 0.5em;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: none;
  /* background-color: rgba(51, 51, 51, 0.17); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.26234243697478987) 0%,
    rgba(0, 0, 0, 0) 12%,
    rgba(0, 0, 0, 0) 74%,
    rgba(0, 0, 0, 0.26234243697478987) 100%
  );
}
.featuredCardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.profilePicture {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}
