

header {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainBody > h2 {
  margin: 10px 20px 0;
  /* margin-top: 20px; */
}

.horizontalSection {
  display: flex;
  overflow: auto;
  padding: 10px 10px 20px;
  /* hide horizontal scroll bar */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.horizontalSection::-webkit-scrollbar {
  display: none;
}

.horizontalCard {
  width: 300px;
  height: 400px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.horizontalCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(189, 189, 189);
}

.overlay {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.150);
}

.overlay h1,
.cardInfo h1 {
  color: #fff;
  text-decoration: none;
}

.overlay:hover {
  background: none;
}

.overlay:hover h1,
.recipeCard:hover h1 {
  color: red;
}

.recipeCard {
  margin: 10px;
}

 {

  color: red;
}



.card-img-overlay {
  padding: 0.5em;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: none;
  /* background-color: rgba(51, 51, 51, 0.17); */
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.26234243697478987) 0%,
      rgba(0, 0, 0, 0) 12%,
      rgba(0, 0, 0, 0) 74%,
      rgba(0, 0, 0, 0.26234243697478987) 100%);
}

.featuredCardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.profilePicture {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.badge {
  display: inline-block;
  border-radius: 7px;
  padding: 4px 7px;
  margin: 4px;
}

span{
font-size: 1.5em;
}

.vegan {
  background-color: #b39fcf;
}
.vegetarian {
  background-color: #b0e3ea;
}
.basics {
  background-color: #cbb9fe;
}
.breakfast {
  background-color: #d9adcd;
}
.lunch {
  background-color: #edc7d3;
}
.dinner {
  background-color: #f5d7b7;
}
.sides {
  background-color: #fdc2eb;
}
.snack {
  background-color: #f4c2b4;
}
.dessert {
  background-color: #eec1cf;
}
.drinks {
  background-color: #acecae;
}
