*{
  font-family: 'Bebas Neue', sans-serif;
}

header {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.horizontalCard {
  width: 300px;
  height: 400px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  transition: transform 0.2s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.150);
}

.overlay h1{
  color: #fff;
}

.horizontalCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(189, 189, 189);
}

.overlay:hover {
  background: none;
}

.overlay:hover h1 {
  color: red;
}

.horizontalSection {
  display: flex;
  overflow: auto;
  padding: 10px 10px 20px;
}

.badge {
  display: inline-block;
  border-radius: 7px;
  padding: 4px 7px;
  margin: 4px;
}

span{
font-size: 1.5em;
}

.vegan {
  background-color: #b39fcf;
}
.vegetarian {
  background-color: #b0e3ea;
}
.basics {
  background-color: #cbb9fe;
}
.breakfast {
  background-color: #d9adcd;
}
.lunch {
  background-color: #edc7d3;
}
.dinner {
  background-color: #f5d7b7;
}
.sides {
  background-color: #fdc2eb;
}
.snack {
  background-color: #f4c2b4;
}
.dessert {
  background-color: #eec1cf;
}
.drinks {
  background-color: #acecae;
}
